@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');

.App {
  padding: 1em;
}

.create td {
  width: 10%
}

label {
  display: inline-block;
  width: 100px;
}

header,
table {
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

h1 {
  font-family: 'Playfair Display SC';
  text-align: center;
  font-size: 64px;
}

html {
  font-family: 'helvetica neue', sans-serif;
}

thead th,
tfoot th {
  font-family: 'Rock Salt';
}

tbody tr:nth-child(odd) {
  background-color: #f3a7d6;
}

.create td:nth-child(n+4):nth-child(-n+5) {
  width: 30% !important;
}

.create td input {
  width: 100%;
}

th {
  letter-spacing: 2px;
  padding: 10px;
}

td {
  letter-spacing: 1px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 12px;
  padding: 10px;
  text-justify: justify;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

img {
  object-fit: scale-down;
  width: 100%;
  height: 100%;
}

.content_td p {
  max-width: 100%;
  max-height: 100px;
  overflow-y: auto;
  text-overflow: ellipsis;
}

  button {
    background-color: white;
    color: black;
    border-radius: 10%;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25); /* Adds a shadow to the button */
  }

  button:hover {
    background-color: rgba(0, 0, 0, 0.84);
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); /* Adds a darker shadow when the button is hovered over */
  }