@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');

.App {
  padding: 1em;
  flex-wrap: wrap;
}

.create td {
  width: 10%
}

header,
table {
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

h1 {
  font-family: 'Playfair Display SC';
  text-align: center;
  font-size: 64px;
  flex-wrap: wrap;
}

html {
  font-family: 'helvetica neue', sans-serif;
}

thead th,
tfoot th {
  font-family: 'Rock Salt';
  flex-wrap: wrap;
}

tbody tr:nth-child(odd) {
  background-color: #f3a7d6;
  flex-wrap: wrap;
}

.create td:nth-child(n+4):nth-child(-n+5) {
  width: 30% !important;
  flex-wrap: wrap;
}

.create td input {
  width: 100%;
  flex-wrap: wrap;
  display: inline-block;
}

th {
  letter-spacing: 2px;
  padding: 10px;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}

td {
  letter-spacing: 1px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 12px;
  padding: 10px;
  flex-wrap: wrap;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}

img {
  object-fit: scale-down;
  width: 100%;
  flex-wrap: wrap;
  height: 100%;
  border-radius: 10px;
}

.content_td p {
  max-width: 100%;
  max-height: 100px;
  overflow-y: auto;
  text-overflow: ellipsis;
  flex-wrap: wrap;
}

  button {
    width: 100%;
    height: 32px;
    background-color: white;
    color: black;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25); /* Adds a shadow to the button */
    display: inline-block;
  }

  button:hover {
    background-color: rgba(0, 0, 0, 0.84);
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); /* Adds a darker shadow when the button is hovered over */
  }

  label {
    width: 100%;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
  }

  input, textarea { 
    width: 100%;
    height: 32px;
    border-radius: 10px;
    text-align: left;
    border: 1px solid #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    text-align: center;
    display: inline-block;
  }

  .textarea #ingredients {
    display: inline-;
  }

    .input-container, .textarea-container {
      display: flex;
      flex-direction: row;
      display: inline-block;
    }

  @media (max-width: 600px) {
  th{
    display: none;
  }

  table td {
    display: flex;
    width: 100%;
    min-width: 100%;
  }


table td::before {
  content:inherit;
  font-weight: bold;
  width: 100%;
  min-width: 100%;
}

button{
  width: 100%;
  border-radius: 10px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the text boxes vertically */
}

textarea {
  width: 100%; 
  border-radius: 10px;
  text-align: center;
  border: 1px solid #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

label{
  width: 323px;
}

input{
  width: 323px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #ffffff; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25); 
}

p{
  width: 100%;
}

td{
  font-size: 16px;
  letter-spacing: 1px;
}

  }